//color
$color-1: #b61984;
$color-2:#1d1d1d;
$color-3: #ffff;

//family
$ff: 'Montserrat', sans-serif !important;
//font-size
$fs1: 13px;
$fs2: 3.15rem;
$fs3:15px;
$fs4:24px;
$fs5:30px;
$fs6: 50px;

//font-weight
$fw-1: 300;
$fw-2:500;
$fw-3:600;
$fw-4:700;