body {
  position: relative;
  background-repeat: no-repeat;
  background-image: url(./../../asset/img/yellow_top_wave_01.png);
}

header {
  nav {
    a.logo {
      height: 90px;
      width: 90px;
      background-image: url("./../../asset/img/crest.png");
      background-repeat: no-repeat;
    }
    ul {
      li {
        a {
          color: $color-2;
          transition: all 0s;
          font: {
            weight: $fw-2;
            size: $fs3;
          }
          &:hover {
            @include hover_headear;
          }
        }
      }
    }
    .icon {
      span {
        background-color: $color-1;
        padding: $fs1 $fs1;
        border-radius: 30px;
        border: solid 1px;
        transition: all 1s;
        color: $color-3;
        &:hover {
          background-color: none;
          box-shadow: 0 0 0 3rem $color-3 inset;
          color: black;
          border: solid 1px $color-1;
          color: $color-1;
        }
      }
    }
  }
}

.carousel {
  margin-top: 50px;
  .content {
    .about {
      padding: 150px 61px;
      h1 {
        width: 70%;
        font: {
          size: $fs6;
          weight: $fw-4;
        }
      }
      p {
        color: $color-1;
        font: {
          size: $fs3;
          weight: $fw-3;
        }
      }
    }
    .img_carrousel {
      height: 600px;
      width: 580px;
      background: {
        image: url("./../../asset/img/hero_team.png");
        size: cover;
      }
    }
  }
}
//not yet(axios)
.list__teacher {
  background-repeat: contain;
  background-size: 100% 100%;
  background-image: url("./../../asset/img/Violet_top_left_wave.png");
  .row {
    padding: 0px 200px;
  }
  .card {
    // margin: 10px;
    img.card-img-top {
      
      // transform: scale3d(1.13,1,1);
      transition: transform 1s;
      &:hover {
        transform: scale3d(1.1, 1, 1);
      }
    }
  }
}
.course {
  background-image: url("./../../asset/img/accent_bottom_wave_01.png");
  margin-top: 100px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 0px 220px;
  .row {
    .img {
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 600px;
      background-image: url("./../../asset/img/conatct_inner.png");
    }
    .box {
      border-radius: 30px;

      box-shadow: 1px 1px 8px 2px;
      .btnMoreInfo {
        margin-top: 20px;
        padding: 15px;
        border-radius: 30px;
        border: 1px solid $color-1;
        background-color: $color-1;
        transition: all 2s;
        &:hover {
          box-shadow: 0 0 0 3rem #ffff inset;
        }
      }

      border: 1px solid grey;
      height: 500px;
      margin-top: 100px;
      padding: 40px 80px;
      .thumbnail {
        position: relative;
        i {
          position: absolute;
          color: $color-1;
          top: 12px;
          right: 10px;
        }
      }
      .thumbnail__email {
        position: relative;
        i {
          color: $color-1;
          position: absolute;
          top: 12px;
          right: 10px;
        }
      }
      .select {
        position: relative;
        i {
          color: $color-1;
          position: absolute;
          top: 12px;
          right: 20px;
        }
      }
      .thumbnail__cmt {
        position: relative;
        i {
          color: $color-1;
          position: absolute;
          top: 12px;
          right: 10px;
        }
      }

      .in {
        border-radius: 30px;
      }
    }
  }
}
.footer {
  padding: 40px 110px;
  background-image: url("./../../asset/img/footer_background.jpg");
  background-size: contain;
  height: 400px;
  .row {
    color: #fff;
    a {
      color: #fff;
      text-decoration: none;
    }
    .news__letter {
      .btnk {
        button {
          margin-top: 20px;
          padding: 15px;
          border-radius: 30px;
          border: 1px solid #000;
          background-color: $color-1;
          transition: all 2s;
          &:hover {
            box-shadow: 0 0 0 3rem $color-1 inset;
          }
        }
      }
      .btn {
        button {
          margin-top: 20px;
          padding: 15px;
          border-radius: 30px;
          border: 1px solid #000;
          background-color: $color-1;
          transition: all 2s;
          &:hover {
            box-shadow: 0 0 0 3rem #fff inset;
            color: #000 !important;
          }
        }
      }
    }
  }
}


  p.render{
    color: $color-1;
    font-weight: 700;
  }
